/* Estilos para la tabla */
.table-container {
    width: 80%;
    margin: 0 auto; /* Esto centra el contenedor */
}

.titulo-inventario{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Roboto Slab", serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
}

/* Estilos para las celdas de la tabla */
th, td {    
    text-align: center;
    padding: 8px;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td{
    
}

/* Estilos para el encabezado de la tabla */
th {
    background-color: #A1CDF9;
    color: black;

}

/* Estilos para el hover */
tr:hover {
    background-color: #ddd;
    
}

.actualizar-inventario{
    margin-left: 20px;
    font-size: 0.9rem;
    font-family: "Roboto Slab", serif;
    background-color: #A1CDF9;
    border: 1px solid black;
    padding: 1%;
    cursor: pointer;
}
