/* EditarEmpleado.css */

.editar-empleado {
  width: 38%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 3%;
  margin-bottom: 5%;
  border: 1px solid black;
}

.editar-empleado-titulo{
  font-family: "Roboto Slab", serif;
}

.editar-empleado h1 {
  text-align: center;
  color: black;
}

.editar-empleado form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editar-empleado label {
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.editar-empleado input {
  width: 94%;
  font-size: 1rem;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #A1CDF9;
  border: 1px solid black;
  border-radius: 4px;
}

.form-modificar{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.editar-empleado button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  width: 35%;
  
}

.editar-empleado select {
  width: 99%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
  background-color: #A1CDF9;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.editar-empleado select option {
  background-color: white;
  color: black;
}

.form-button-guardar{
  background-color: #1d87f8;
}

