.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1%;
}

.formulario_imagen{
    width: 12%;
    margin-top: 2%;
}

.formulario_input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.formulario_input:focus {
    border-color: transparent   ;
    outline: none;
}

.formulario_boton{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #A1CDF9;
    color: black;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    font-size: medium;
}

.formulario_boton:hover {
    border-color: black;
}

.formulario_input[type="number"]::-webkit-inner-spin-button,
.formulario_input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}