.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin: 0 auto;
    padding-top: 3%;
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid black; /* Agrega un borde negro */
}

.form-label {
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
    font-size: large;
}

.form-input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #A1CDF9;
    border: 1px solid black;
    border-radius: 5px;
}

.form-submit{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.form button{
    width: 40%;
}

.form-button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #1d87f8;
    color: black;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.form-button-cancelar{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
    color: black;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}